[submodule "compose/artefactual-labs"]
	path = compose/artefactual-labs
	url = https://github.com/artefactual-labs/am.git
	branch = stable/1.7.x
[submodule "docker/archivematica"]
	path = docker/archivematica
	url = https://github.com/artefactual/archivematica.git
	branch = stable/1.7.x
[submodule "docker/archivematica-storage-service"]
	path = docker/archivematica-storage-service
	url = https://github.com/artefactual/archivematica-storage-service.git
	branch = stable/0.11.x
